admin-totals
Django
django-admin-extra-buttons
django-admin-rangefilter
django-cors-headers
django-filter
django-import-export
django-jazzmin
django-multiselectfield
djangorestframework
djangorestframework_simplejwt
gevent
gunicorn
whitenoise
django-unfold
django-simple-history
tburundigeo
openpyxl
six
whitenoise
tqdm
